#!pip install pyspark
#!pip install matplotlib
#!pip install requests
#!pip install pytz


Python3.10
https://www.python.org/downloads/release/python-31012/

Java20
https://www.oracle.com/java/technologies/downloads/

MYSQL
https://dev.mysql.com/downloads/workbench/

JDBC driver
https://downloads.mysql.com/archives/c-j/

